body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(16, 16, 16);
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* border: 2px solid white; */
}
.search{
    width: 500px;
    padding: 10px 10px;
    font-size: 20px;
    border: 3px solid transparent;
    border-radius: 5px 0 0 5px;
}.search:focus{
    outline: none;
    border: 3px solid #ffa332;
}
.btn{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    background-color: #ffa332;
    border-radius: 0 5px 5px 0;
    border: none;
}
.gayab{
    display: none;
}
.landing{
    font-size: 80px;
    padding: 0px 50px;
    text-align: center;
    font-weight: 600;
}
.highlight{
    background: #FFB76B;
    background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.movie-info{
    padding: 50px 0;
}
.movie-text{
    width: 40vw;
    margin: 0px 50px;
}.movie-text h3{
    font-size: 50px;
    margin: 0;
}.movie-text p{
    font-size: 20px;
}
.movie-poster{
    position: relative;
}
.container img{
    border-radius: 10px;
    object-fit: none;
}
.rating{
    position: absolute;
    left: 0;
    margin: 8px;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #ffa83de0;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
.trailer{
    display: inline-block;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}
