body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn{
    width: 150px;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    margin: 8px 0;
    cursor: pointer;
}
.btn:hover{
    font-weight: 600;
}

input{
    display: block;
    width: 250px;
    margin: 5px 0;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.disco{
    animation: disco-light 2s ease-in-out 0s infinite;
}
@keyframes disco-light {
    20%{
        background-color: rgb(69, 255, 255);
    }
    40%{
        background-color: rgb(255, 91, 91);
    }
    60%{
        background-color: rgb(244, 252, 105);
    }
    80%{
        background-color: rgb(77, 160, 255);
    }
    100%{
        background-color: rgb(214, 102, 255);
    }
}

.flex{
    display: flex;
}

.left-box{
    background-color: rgb(202, 169, 255);
    width: 50%;
    padding: 20px;
    border-radius: 5px 220px 220px 5px;
}
.right-box{
    width: 50%;
    padding: 20px;
    background-color: bisque;
    min-height: 500px;
    border-radius: 5px;
}
.users{
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    gap: 50px;
    padding: 8px;
    margin: 10px 0;
}

.register-done{
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
}
.success{
    background-color: rgba(218, 255, 236, 0.861);
}
.failed{
    background-color: rgba(255, 184, 184, 0.861);
}